.InsulationProducts{
    background-color: transparent !important;
    border: none !important;
}

.InsulationProductsEditButton{
    margin-bottom: 1rem;
}

.InsulationProductsAddButton{
    margin-bottom: 1rem;
    margin-right: 1rem;
}