.hidden {
    visibility: hidden;
}

.ProductsElementsTable {
    box-shadow: 0px 0px 15px 0px grey;
    background-color: white;
}

.ProductsElementsTable .Table{
    border: none;
}

.ProductsElementsTable .Summary{
    opacity: 0.0;
    border-bottom: none;
    border-left: none;
    visibility: hidden;
}

.ProductsElementsTable .DescriptionColumn {
    max-width: 10rem;
    word-wrap: break-word;
}

.CalculateSummary .dateStyle {
    display: flex;
    justify-content: flex-end;
}

.CalculateSummary .descriptionStyleInput {
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 15px 0px grey;
    border: 1px solid lightgrey;
    background-color: white;
}

.CalculateSummary .offerElementStyle {
    background-color: white;
}

.CalculateSummary .listGroupStyle {
    box-shadow: 0px 0px 15px 0px grey;
    border: 1px solid lightgrey;
    background-color: white;
}

.CalculateSummary .description2InputStyle {
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 0px 15px 0px grey;
    border: 1px solid lightgrey;
    background-color: white;
}

.CalculateSummary .footerStyle {
    display: flex;
    justify-content: flex-end;
}

.CalculateSummary .footerBackButton {
    margin-bottom: 2rem;
}

.CalculateSummary .footerPriceButton {
    margin-bottom: 2rem;
    margin-left: 1rem;
}